body {
    margin: 0;
    position: relative;
}

div.board {
    width: 640px;
    height: 640px;
    position: absolute;
    right: 450px;
    border: 12px solid rgb(127, 127, 127);
    display: flex;
}

div.whitesquare {
    background-color: burlywood;
    width: 80px;
    height: 80px;
}
div.blacksquare {
    background-color: rgb(139, 85, 46);
    width: 80px;
    height: 80px;
}
div.ilk>div.blacksquare>img {
    width: 100%;
    height: auto;
}
div.ikinci>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.ucuncu>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.dorduncu>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.besinci>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.altinci>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.yeddinci>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.sonuncu>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.ilk>div.whitesquare>img {
    width: 100%;
    height: auto;
}
div.sonuncu>div.blacksquare>img {
    width: 100%;
    height: auto;
}
div.ikinci>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.yeddinci>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.ucuncu>div.whitesquare>img{
    width: 100%;
    height: auto;
}
div.altinci>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.dorduncu>div.blacksquare>img{
    width: 100%;
    height: auto;
}
div.besinci>div.whitesquare>img{
    width: 100%;
    height: auto;
}