body {
    margin: 0;
    position: relative;
    background-color: rgb(43, 42, 42);
}

div.board {
    width: 640px;
    height: 640px;
    position: absolute;
    right: 450px;
    display: flex;
}
div.reqem>div.rgm {
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}
div.reqem2>div.rgm {
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    padding-left: 8px;
}
div.ilk>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.ikinci>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.ucuncu>p {
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.dorduncu>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.besinci>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.altinci>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.iltinci>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.yeddinci>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}
div.sonuncu>p {
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-align: center;
}

div.whitesquare {
    background-color: burlywood;
    width: 80px;
    height: 80px;
}

div.blacksquare {
    background-color: rgb(139, 85, 46);
    width: 80px;
    height: 80px;
}

div.ilk>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.ikinci>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.ucuncu>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.dorduncu>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.besinci>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.altinci>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.yeddinci>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.sonuncu>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.ilk>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.sonuncu>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.ikinci>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.yeddinci>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.ucuncu>div.whitesquare>img {
    width: 100%;
    height: auto;
}

div.altinci>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.dorduncu>div.blacksquare>img {
    width: 100%;
    height: auto;
}

div.besinci>div.whitesquare>img {
    width: 100%;
    height: auto;
}